.App {
  text-align: center;
}

h4 p {
  font-weight: normal;
}

.container {
  margin: 10vh auto;
  width: 70%;
  display: flex;
  flex-flow: row nowrap;
  background-color: #d1edf3;
  padding: 20px;
  border-radius: 5px;
}

.currWeather .label__ {
  padding-right: 10px;
}

.currWeather {
  text-align: center;
  position: relative;
  top: 25%;
  width: 30%
}

.wind, .currWeather .humidity {
  display: inline-block;
  width: 50%;
}

.weather {
  position: relative;
  top: 25%;
}

.overview {
  width: 70%
}

.forecast {
  width: 25%;
  text-align: center;
  background-color: white;
  display: inline-block;
}

.forecast:hover {
  background-color: #D98A79;
}

.overview .forecast:nth-child(2) {
  border-radius: 5px 0 0 5px;
}

.overview .forecast:last-child {
  border-radius: 0 5px 5px 0;
}

@media only screen and (max-width: 1024px) and (min-width: 768px){
  .container {
    width: 80%;
  }
}

@media only screen and (max-width: 425px) {
  .container {
    flex-flow: column nowrap;
    margin: 0;
    padding: 20px 0 0 0;
  }

  .temperature, .humidity, .wind {
    margin: 0 auto;
  }

  .overview, .currWeather, .container {
    width: 100%;
  }

  .forecast {
    width: 45vw;
    margin: 2vh 2.5vw;
    
  }

  .forecast, .overview .forecast:last-child, .overview .forecast:nth-child(2) {
    border-radius: 5px;
  }
}
