.App {
  text-align: center;
}

.container {
  margin: 20vh auto;
  width: 70%;
  display: grid;
  grid-template-areas: "current overview";
  grid-template-columns: 30% 70%;
  background-color: #ffeaae;
  padding: 20px;
  border-radius: 5px;
}

.currWeather {
  grid-area: current;
  text-align: center;
}

.wind, .currWeather .humidity {
  display: inline-block;
  width: 50%;
}

.overview {
  grid-area: overview;
  display: flex;
}

.forecast {
  width: 25%;
  text-align: center;
  background-color: white;
  border-radius: 5px;
}

.forecast:hover {
  background-color: blue;
}

#myChart {
  width: 400px;
  height: 400px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
